<!DOCTYPE html>
<html>
<head>
	<title>onion</title>
  <meta name="viewport" cotent="width=device-width, intial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/assets/homeDesign.css">
   <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
  <script type="text/javascript" src="/assets/bootstrap.js"></script>
  <script type="text/javascript" src="/assets/carousel.js"></script>
</head>
<body>
<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-white navbar-light fixed-top shadow-sm">
  	<ul class="navbar-nav">
  		<li class="nav-item">
  			<a class="nav-link" href="#"><img src="/assets/logo.png" class="rounded" alt="logo" height="70" width="70"></a>
  		</li>
  	</ul>
  	<div class="mx-auto " style="width:150px">
  	<h3>PROSAVA</h3>
  </div>
  </nav>
  <div class="row topics">
	<div class="col">
		<a href="#" class="tp"><b></b></a>
	  </div>
	  <div class="col">
		<a href="#" class="tp"><b></b></a>
	  </div>
  	<div class="col">
  		<a href="#" class="tp"><b>About us</b></a>
	</div>
	<div class="col">
  		<a href="#" class="tp"><b>Services</b></a>
	</div>
	<div class="col">
  		<a href="#" class="tp"><b>Team</b></a>
	</div>
	<div class="col">
 		 <a href="#" class="tp"><b>Clients</b></a>
		</div>
	<div class="col">
  		<a href="#" class="tp"><b>Contact us</b></a>
	</div>
	<div class="col">
		<a href="#" class="tp"><b></b></a>
  	</div>
</div>
<div class="container-fluid" id="crous" >
	<div id="demo" class="carousel slide mt-5 " data-ride="carousel">

		<!-- Indicators -->
		<ul class="carousel-indicators" id="indicators">
		  <li data-target="#demo" data-slide-to="0" class="active"></li>
		  <li data-target="#demo" data-slide-to="1"></li>
		  <li data-target="#demo" data-slide-to="2"></li>
		</ul>
	  
		<!-- The slideshow -->
		<div class="carousel-inner">
		  <div class="carousel-item active">
			<img src="/assets/crousel-item1.jpg" alt="crousel-item1" class="rounded c-image">
			<div class="carousel-caption">
				<div class="card text-light" id="cap">
				<h3>Construction site 1</h3>
				<p>Description will go here</p>
				</div>
			  </div>
		  </div>
		  <div class="carousel-item">
			<img src="/assets/crousel-item2.jpg" alt="crousel-item2"class="rounded c-image">
			<div class="carousel-caption">
				<div class="card cap text-light" id="cap">
				<h3>Construction site 2</h3>
				<p>Desciption will go here</p>
				</div>
			  </div>
		  </div>
		  <div class="carousel-item">
			<img src="/assets/crousel-item3.jpg" alt="crousel-item3" class="rounded c-image">
			<div class="carousel-caption">
				<div class="card cap text-light" id="cap">
				<h3>Construction site 3</h3>
				<p>Description will be written here</p>
				</div>
			  </div>
		  </div>
		</div>
	  
		<!-- Left and right controls -->
		<a class="carousel-control-prev" href="#demo" data-slide="prev">
		  <span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#demo" data-slide="next" id="nnnext">
		  <span class="carousel-control-next-icon"></span>
		</a>
	  
	  </div>
</div>
<div class="container" id="content">
	<div class="row mb-5">
	<div class="col">
	<div class="container">
		<img src="/assets/crousel-item1.jpg" width="400px" height="400px"/>
	</div>
	</div>
	<div class="col">
	<div class="container">
		<h3>The heading of the content</h3>
		<p>The content will be written here</p>
	</div>
	</div>
	</div>
	<div class="row mt-5" id="second_row">
		<div class="col">
		<div class="container">
			<h3>The heading of the content</h3>
			<p>The content will be written here</p>
		</div>
		</div>
		<div class="col">
			<div class="container">
				<img src="/assets/crousel-item1.jpg" width="400px" height="400px"/>
			</div>
			</div>
	</div>
	<div class="row mt-5">
		<div class="col">
		<div class="container">
			<img src="/assets/crousel-item1.jpg" width="400px" height="400px"/>
		</div>
		</div>
		<div class="col">
		<div class="container">
			<h3>The heading of the content</h3>
			<p>The content will be written here</p>
		</div>
		</div>
		</div>
		<div class="row mt-5" id="second_row">
			<div class="col">
			<div class="container">
				<h3>The heading of the content</h3>
				<p>The content will be written here</p>
			</div>
			</div>
			<div class="col">
				<div class="container">
					<img src="/assets/crousel-item1.jpg" width="400px" height="400px"/>
				</div>
				</div>
		</div>
</div>
</div>
<div class="card mt-5 text-light" id="leading">
	<div class="container" id="leading-title">
		<h3>Companies we work with</h3>
	</div>
	<div class="container mt-3">
		<div class="row ">
			<div class="col">
				<img src="/assets/logo.png" class="rounded"/>
			</div>
			<div class="col">
				<img src="/assets/logo.png" class="rounded"/>
			</div>
			<div class="col">
				<img src="/assets/logo.png" class="rounded"/>
			</div>
			<div class="col">
				<img src="/assets/logo.png" class="rounded"/>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col">
				<img src="/assets/logo.png" class="rounded"/>
			</div>
			<div class="col">
				<img src="/assets/logo.png" class="rounded"/>
			</div>
			<div class="col">
				<img src="/assets/logo.png" class="rounded"/>
			</div>
			<div class="col">
				<img src="/assets/logo.png" class="rounded"/>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col">
			</div>
			<div class="col">
				
			</div>
			<div class="col">
				
			</div>
			<div class="col">
				
			</div>
		</div>
	</div>
</div>
</body>
</html>