*{
  		font-family: 'Philosopher', sans-serif;
  	}
  .topics{
  	margin-top:125px;
  	margin-left:0.5rem;
  }
  .c-image{
	  height: 70rem;
	  width: 100rem;
  }
  .tp{
  	color:grey;
  	text-decoration: none;
  }
  .tp:hover{
  	color:black;
  	text-decoration: none;
  }
  #k1{
  	color:green;
  }
  .snap{
  	border-radius: 5px;
  }
  #cap{
	  background-color: #205389;
  }
  #leading{
	background-color: #205389;
}
  @media only screen and (min-width: 600px) {
  	.tp{
  		font-size: 10px;
  		margin-left:-5px;
  	}
  	.carousel-caption{
  		font-size: 8px;
  	}
  	.featured{
  		font-size: 10px;
  	}
	.c-image{
		height: 40rem;
		width: 60rem;
	}
	#crous{
		margin-left: 0rem;
	}
	#content{
		margin-top:6rem;
		margin-left:2rem;
	}
	.content-card{
		margin-left:15rem;
		background-color: #205389;
	}
	#second_row{
		margin-right: -12rem;
	}
	#leading-title{
		margin-left: 20rem;
		margin-top: 2rem;
	}
  }
  @media only screen and (min-width: 992px) {
	  .c-image{
		  height: 45rem;
		  width: 80rem;
	  }
	  .tp{
		font-size: 16px;
		margin-left:-5px;
	}
	.carousel-caption{
		font-size: 14px;
		margin-right:30rem;

	}
	.featured{
		font-size: 16px;
	}
	#crous{
		margin-left:20rem;
	}
	#nnnext{
		margin-right:35rem;
	}
	#indicators{
		margin-right:45rem;
	}
	#content{
		margin-top:6rem;
		margin-left:7rem;
	}
	.content-card{
		margin-left:30rem;
		
	}
	#content-cap{
		background-color: #205389;
	}
	#second_row{
		margin-right:-76rem;
	}
	#leading-title{
		margin-left: 45rem;
		margin-top: 3rem;
	}
  }